
.nav-container{
    display: flex;
    justify-content: space-around;
    gap: 494px;
    margin-top: 87px;
}
header ul{
    display: flex;
    list-style: none;
    gap: 34px;
    
}
.nav-name{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#3A3A3A;
    font-size: 16px;
}
.nav-shower{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3A3A3A;
    font-size: 24px;
    
}
.nav-items{
    margin-right: 120px;
}
.first-article{
    height: 270px;
    width: 582px;
    margin-left: 150px;
    margin-top: 285px;
}
.header-article-title{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;

}
.article-text{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    margin-top: -36px;

}
.first-button{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background: #E02C6D;
    height: 44px;
    width: 196px;
    padding: 10px 24px;
    border-radius: 41px;
    border-style: none;
    color: #FFFFFF;


}
.article-camera{
    display: flex;
}
.camera{
    margin-left: 435px;
    margin-top: 250px;
}
.logo-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 110px;
    margin-right: 60px;
    margin-left: -50px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.flex-tripod{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    
}
.doller{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.stars i{
    color: orange;
    
}
.product-description{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}
.amount{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}